.minusic-livestream {
  color: rgb(204, 93, 93);
  border: 2px solid rgb(204, 93, 93);
  border-radius: 12px;
  padding: 3px 6px;
  display: flex;
  align-items: center;
  gap: 5px;
  user-select: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.6rem;
}

.minusic-livestream:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgb(204, 93, 93);
}
